.signin{
  background: linear-gradient(to right, rgb(2, 228, 171), rgb(74, 215, 240));
  width: 50%;
  height: 50%;
}
.form-control{
  width: 50%;
  height: 40px;
}
label{
  font-weight: 400;
  font-size: 18px;
  margin-left: 12px;
}
h1{
  font-weight: 800;
  font-size: 26px;
}
button{
  width: 20%;
  height: 44px;
}
